@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: rgb(253 224 71); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(253 224 71); /* Gecko Browsers */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Markdown styles */

.markdown {
  width: 100%;
}

.markdown img {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown h3 {
  color: rgb(253 224 71);
  font-size: 24px;
}

.markdown h4 {
  color: #818cf8;
  font-size: 20px;
}

.markdown li::marker {
  color: rgb(254 240 138);
}

.markdown strong {
  color: rgb(229 231 235);
  font-weight: 600;
}

.markdown p,
.markdown li {
  color: rgb(229 231 235);
  font-size: 18px;
}

.markdown p a,
.markdown li a {
  color: rgb(229 231 235);
}

.markdown p code {
  background-color: rgb(71 85 105);
  border-radius: 4px;
  color: rgb(229 231 235);
  padding: 4px 8px;
  font-weight: 400;
  word-break: break-all;
}

.markdown p code::before,
p code::after,
h3 code::before,
h3 code::after {
  display: none;
}

.markdown blockquote p,
.markdown blockquote em {
  font-style: normal;
  font-size: 20px;
}

.markdown blockquote {
  border: none;
  font-size: 20px;
}

.markdown blockquote p {
  color: rgb(165 180 252);
}

.markdown blockquote p::before {
  content: "";
}

.markdown p img {
  margin-top: 12px;
}

.markdown pre {
  background: rgb(40, 42, 54);
}

@media (min-width: 768px) {
  .markdown h3 {
    font-size: 28px;
  }

  .markdown p,
  .markdown li {
    font-size: 20px;
  }

  .markdown blockquote p,
  .markdown blockquote em {
    font-style: normal;
    font-size: 22px;
  }
}
