@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: rgb(253 224 71); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(253 224 71); /* Gecko Browsers */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Markdown styles */

.markdown {
  width: 100%;
}

.markdown img {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown h3 {
  color: rgb(253 224 71);
  font-size: 24px;
}

.markdown li::marker {
  color: rgb(254 240 138);
}

.markdown p, 
.markdown li {
  color: rgb(229 231 235);
  font-size: 18px;
}

.markdown p a {
  color: rgb(229 231 235);
}

.markdown p code {
  color: rgb(165 180 252);
}

.markdown p code::before, p code::after {
  display: none;
}

.markdown blockquote p,
.markdown blockquote em {
  font-style: normal;
  font-size: 20px;
}

.markdown blockquote {
  border: none;
  font-size: 20px;
}

.markdown blockquote p {
  color: rgb(165 180 252);

}

.markdown blockquote p::before {
  content: ""
}